# --- Backend (Django/Python) ---
**/venv/
**/__pycache__/
**/*.pyc
**/db.sqlite3
**/.env

# --- Frontend (Next.js) ---
**/node_modules/
**/.next/
**/out/
**/.env.local
**/.env.*.local
**/dist/

# --- IDEs & OS ---
**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/.DS_Store
Thumbs.db
